<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771412081414-7lncu79n5iqpiivlaoi056nmmna89hm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771412081414-7lncu79n5iqpiivlaoi056nmmna89hm9</string>
	<key>API_KEY</key>
	<string>AIzaSyAWOnuM0G-hAXywAEqWL_w2k6dMo42JkDo</string>
	<key>GCM_SENDER_ID</key>
	<string>771412081414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weattherStation</string>
	<key>PROJECT_ID</key>
	<string>autofirebase-130d4</string>
	<key>STORAGE_BUCKET</key>
	<string>autofirebase-130d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771412081414:ios:5e346a173d1bbd96dc7c87</string>
</dict>
</plist>